<div class= "session-container">
  <div class= 'form-login-header'>
    <%if group.id%>EDITAR CATEGORIA<%else%>NOVA CATEGORIA<%end%>
  </div>
  <%= form_with(model: group) do |form| %>
    <% if group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class = "group-name">
      <%= form.label "Tipo de transação", style: "display: block" %>
      <div class= "dropdown">
        <%= form.select :group_type, @group_types.map { |group_type| [group_type['name'], group_type['source']] } %>
      </div> 
    </div>

    <div class= "group-name">
      <%= form.label "Nome", style: "display: block" %>
      <%= form.text_field :name, placeholder: "Insira o nome da categoria" %>
    </div>

    <div class="actions">
      <%= form.submit "Salvar"%>
    </div>
  <% end %>

</div>
