<div class= "header">
  <div>
  </div>
  <div>
    <h2 class="category">Categorias de Transações</h2>
  </div>
  <div style="display: flex">
    <%= link_to reports_path do %>
      <%= image_tag "reports.png", class: "my-profile-icon"%>
    <%end%>
    <%= link_to user_path(current_user.id) do %>
      <%= image_tag "person.png", class:"my-profile-icon"%>
    <%end%>
   
    <%= button_to destroy_user_session_path, method: :delete, class: "close-app" do %>
      <%= image_tag "close-app.png", class: "close-app" %>
    <% end %>
  </div>
</div>



<div>
  <%if @groups.any?%>
  <div class= "new-group">
    <%= link_to new_group_path do%>
      <div class= "new-group-btn">
        Adicionar categoria
        <%= image_tag "plus-small.png", class: "plus-icon" %>
      </div>
    <% end %>
  </div>
  <div id="groups">
    <% @groups.each do |group| %>
      <%if can? :manage, group %>
        <div class= "group">
          <%= link_to group_operations_path(group.id), id: "group-container" do %>
            <%= render group %>
          <%end%>
          <div class= "group-footers">
            <div>
            </div>
            <div class= "show-delete">
              <%= link_to edit_group_path(group.id) do %>
                <%= image_tag "edit-pencil.png", class:"group-icons" %>
              <%end%>
              <%= button_to group_path(group.id), method: :delete, class:"group-icons" do %>
                <%= image_tag "remove-trash.png", class:"group-icons" %>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%else%>
    <h2 style="text-align: center; color: white; margin-top: 20px">Você não possui categorias cadastradas</h2>
    <div class= "new-group">
      <%= link_to new_group_path do%>
        <div class= "new-group-btn">
          Adicionar categoria
          <%= image_tag "plus-small.png", class: "plus-icon" %>
        </div>
      <% end %>
  </div>
  <%end%>
</div>


