<div class= "session-container">
  <div class="new-password-warning">
    <%= image_tag "aviso.png", class: "alert-icon" %>
    Caso a nova senha não seja informada ou seja inválida, apenas o nome e o email serão atualizados
  </div>
  <div class= 'form-login-header'>
    EDITAR INFORMAÇÕES DO USUÁRIO
  </div>
  <%= form_with model: @user, url: update_user_user_path(@user.id), method: :put do |form| %>
    <div class= "group-name">
      <%= form.label "Nome", style: "display: block" %>
      <%= form.text_field :name, value: @user.name, placeholder: "Insira o nome da transação" %>
    </div>

    <div class= "group-name">
      <%= form.label "Email", style: "display: block" %>
      <%= form.email_field :email, value: @user.email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class= "group-name">
      <%= form.label :password, "Senha (mínimo de 6 caracteres)", style: "display: block" %>
      <%= form.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "********" %>
    </div>

    <div class="group-name">
      <%= form.label :password_confirmation, "Confirmar nova senha" %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********" %>
    </div>

    <div class="actions">
      <%= form.submit "Salvar" %>
    </div>
  <% end %>
</div>
