<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar informações", edit_user_path(@user) %> |
  <%= link_to "Voltar para lista de gastos", root_path %>

  <%= button_to "Deletar usuário", @user, method: :delete %>
</div>
