<%= render @user %>

<div>
  <div class= "session-container">
    <div class= 'form-login-header'>
      INFORMAÇÕES DO USUÁRIO
    </div>

    <div class="group-name">
      Nome
      <br>
      <input type="text" readonly value=<%= @user.name %> style="margin-top: 5px"/> 
    </div>

    <div class="group-name">
      Email
      <br>
      <input type="email" readonly value=<%= @user.email %> style="margin-top: 5px"/> 
    </div>

    <div class="group-name">
      Membro desde
      <br>
      <input type="text" readonly value=<%= @user.created_at.strftime("%d/%m/%Y") %> style="margin-top: 5px"/> 
    </div>

    <div class="actions-link">
      <%= link_to "Voltar para lista de gastos", root_path %>
    </div>

    <div class="remove-user-button">
      <%= button_to "Remover usuário", @user, method: :delete %>
    </div>
    
  </div>
  
</div>
