<%= render @user %>

<div>
  <div class= "session-container">
    <div class= 'form-login-header'>
      INFORMAÇÕES DO USUÁRIO
    </div>

    <div class="group-name">
      Nome
      <br>
      <input type="text" readonly value="<%= @user.name || 'Nome não definido' %>" style="margin-top: 5px"/> 
    </div>

    <div class="group-name">
      Email
      <br>
      <input type="email" readonly value="<%= @user.email %>" style="margin-top: 5px"/> 
    </div>

    <div class="actions-link">
      <%= link_to "Editar usuário", edit_user_path %>
    </div>

    <div class="remove-user-button">
      <%= button_to user_path(@user.id), method: :delete do %>
        Remover usuário
      <%end%>
    </div>
    
  </div>
  
</div>
