<div class="sessions-wrapper">  
  <div class= "session-container">
    <div class= 'form-login-header'>
      ACESSAR CONTA
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= image_tag "person.png", class: "login-icons" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Informe seu email", class: "input" %>
      </div>

      <div class="field">
        <%= image_tag "padlock-locked.png", class: "login-icons" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Informe sua senha", class: "input"  %>
      </div>

      <div class="actions">
        <%= f.submit "Acessar" %>
      </div>
    <% end %>

    <%= render "devise/shared/links"%>
  </div>
</div>