<% if !(flash[:total_revenue].present? && flash[:total_spent].present? || flash[:report_values].present? || flash[:report_month_values].present?) %>
  <div class= "session-container">
    <div class="new-password-warning">
      <%= image_tag "aviso.png", class: "alert-icon" %>
      Caso o relatório selecionado seja "Valor de transações por mês", não há necessidade de informar o período de data
    </div>
    <div class= 'form-login-header'>
      RELATÓRIO DE TRANSAÇÕES
    </div>
    <%= form_tag generate_operation_report_reports_path, method: :post, remote: true do %>
      <div class = "group-name">
        <%= label_tag "Tipo de relatório"%>
        <div class= "dropdown">
          <%= select_tag 'report_type',options_for_select(@report_types.collect{ |report_type| [report_type['name'], report_type['source']] })%>
        </div> 
      </div>
      <div class="group-name">
        <%= label_tag :start_date, "Data Inicial" %>
        <%= date_field :start_date, class: "dates" %>
      </div>

      <div class="group-name">
        <%= label_tag :end_date, "Data Final" %>
        <%= date_field :end_date, class: "dates" %>
      </div>

      <%= submit_tag "Gerar Relatório", class: "send-button" %>
    <% end %>
  </div>
<%elsif flash[:report_values].present?%>
  <div class= "session-container" style="width: 60vw">
    <div class= 'form-login-header' style="padding: 5px">
      REGISTRO DE TRANSAÇÕES POR CATEGORIA ENTRE <%=flash[:start_date].split('-')[2]%>/<%=flash[:start_date].split('-')[1]%>/<%=flash[:start_date].split('-')[0]%> E <%=flash[:end_date].split('-')[2]%>/<%=flash[:end_date].split('-')[1]%>/<%=flash[:end_date].split('-')[0]%>
    </div>
    <%if flash[:report_values].length > 0 %>
      <div class="report-per-group-result">
        <% flash[:report_values].each do |report| %>
          <div style="margin-right: 50px">
            <div class="result-text" style="font-size: 20px;margin-bottom: 10px;">
              <%= image_tag report['group_icon'], class: "result-per-group-icons" %>
              <%= report['group_name'] %>
            </div>
            <div class="result-text">
              <%= image_tag "revenue-icon.png", class: "result-per-group-icons" %>
              Valor total de receita: <%= number_to_currency(report['total_revenue'], :unit => "R$ ", :separator => ",", :delimiter => ".") %>
            </div>
            <div class="result-text" style="margin-bottom: 40px">
              <%= image_tag "spent-icon.png", class: "result-per-group-icons" %>
              Valor total de gastos: <%= number_to_currency(report['total_spent'], :unit => "R$ ", :separator => ",", :delimiter => ".") %>
            </div>
          </div>
        <% end %>
      </div>
    <%else%>
      <div class="no-data-text">
      <%= image_tag "pasta.png" %>
      NÃO HÁ REGISTRO DE TRANSAÇÕES NESSE PERÍODO
      </div>
    <%end%>
  </div>
<%elsif flash[:report_month_values].present?%>
  <div class= "session-container" style="width: 60vw">
    <div class= 'form-login-header' style="padding: 5px">
      REGISTRO DE TRANSAÇÕES MENSAIS
    </div>
    <%if flash[:report_month_values].length > 0 %>
      <div class="report-per-group-result">
        <% flash[:report_month_values].each do |report| %>
          <div style="margin-right: 50px">
            <div class="result-text" style="font-size: 20px;margin-bottom: 10px;">
              <%= report['month'] %>
            </div>
            <div class="result-text">
              <%= image_tag "revenue-icon.png", class: "result-per-group-icons" %>
              Valor total de receita: <%= number_to_currency(report['total_revenue'], :unit => "R$ ", :separator => ",", :delimiter => ".") %>
            </div>
            <div class="result-text" style="margin-bottom: 40px">
              <%= image_tag "spent-icon.png", class: "result-per-group-icons" %>
              Valor total de gastos: <%= number_to_currency(report['total_spent'], :unit => "R$ ", :separator => ",", :delimiter => ".") %>
            </div>
          </div>
        <% end %>
      </div>
    <%else%>
      <div class="no-data-text">
      <%= image_tag "pasta.png" %>
      NÃO HÁ REGISTRO DE TRANSAÇÕES MENSAIS
      </div>
    <%end%>
  </div>
<%else %>
  <div class= "session-container" style="width: 40vw">
    <div class= 'form-login-header' style="padding: 5px">
      REGISTRO DE TRANSAÇÕES ENTRE <%=flash[:start_date].split('-')[2]%>/<%=flash[:start_date].split('-')[1]%>/<%=flash[:start_date].split('-')[0]%> E <%=flash[:end_date].split('-')[2]%>/<%=flash[:end_date].split('-')[1]%>/<%=flash[:end_date].split('-')[0]%>
    </div>
    <div>
      <%= image_tag "revenue-icon.png", class: "result-icons" %>
      <p class="report-result">Valor total de receita: <%= number_to_currency(flash[:total_revenue], :unit => "R$ ", :separator => ",", :delimiter => ".") %></p>
    </div>
    <div>
      <%= image_tag "spent-icon.png", class: "result-icons" %>
      <p class="report-result">Valor total de gastos: <%= number_to_currency(flash[:total_spent], :unit => "R$ ", :separator => ",", :delimiter => ".") %></p>
    </div>
  </div>
<%end%>