<div class= "form">
  <%= form_with model: @operation, url: group_operations_path, method: :post do |form| %>
    <% if operation.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

        <ul>
          <% operation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class= "group-name">
      <%= form.label "Nome", style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label "Tipo de gasto", style: "display: block" %>
      <div class= "dropdown">
        <%= form.select :icon, @operation_types.map { |operation_type| [operation_type['name'], operation_type['source']] } %>
      </div> 
    </div>

    <div class= "group-name">
      <%= form.label "Valor", style: "display: block" %>
      <%= form.number_field :amount %>
    </div>
    <p>Select category to add new transaction</p>
    
    <%#if @groups%>
        <%#= form.label :groups %>
        <%#= form.collection_check_boxes(:group_ids, @groups, :id, :name) do |b| %>
            <%#= b.check_box + b.label %>
        <%# end %>
    <%#end%>

    <div class="submit-btn">
      <%= form.submit %>
    </div>
  <% end %>
</div>
