<div id="<%= dom_id operation %>">
  <div id="group">
    <strong>
      <%= operation.name %>
    </strong>

    <strong>
      <%if operation.operation_type == 0%>
        <%= image_tag "seta-receita.png", class: "receita"%>
      <%elsif operation.operation_type == 1%>
        <%= image_tag "seta-gasto.png", class: "gasto"%>
      <%end %>
      <%= number_to_currency(operation.amount, :unit => "R$ ", :separator => ",", :delimiter => ".")  %>
    </strong>
  </div>
  <div class= "group-footers">
    <small class= "timelapse"><%= operation.created_at.strftime("Registrada em %d / %m / %Y")%></small>
    <div class="show-delete">
      <%= button_to delete_operation_operation_path(@group.id), method: :delete, params: { operation_id: operation.id } do %>
        <%= image_tag "remove-trash.png", class:"group-icons" %>
      <%end%>
    </div>
  </div>
</div>
