<div id="<%= dom_id operation %>">
  <div id="group">
    <p>
      <%= operation.name %>
    </p>

    <p>
      <%if operation.operation_type == 0%>
        <%= image_tag "seta-receita.png", class: "receita"%>
      <%elsif operation.operation_type == 1%>
        <%= image_tag "seta-gasto.png", class: "gasto"%>
      <%end %>
      <%= number_to_currency(operation.amount, :unit => "R$ ", :separator => ",", :delimiter => ".")  %>
    </p>
  </div>
  <div class= "group-footers">
    <small class= "timelapse"><%= operation.created_at.strftime("Registrada em %B %d, %Y")%></small>
    <div>
      <%= button_to "Remover", delete_operation_operation_path(@group.id), method: :delete, params: { operation_id: operation.id } %>
    </div>
  </div>
</div>
