<div id= "">
  <div class= "header">
    <%= link_to groups_path do %><%= image_tag "return-arrow.png", class:"back"%><%end%>
    <h2>Registro de Transações</h2>
    <%= button_to destroy_user_session_path, method: :delete, class: "close-app" do %> 
      <%= image_tag "close-app.png", class:"close-app"%>
    <%end%>
  </div>

  <% if @operations.any? %>
    <div class= "total-transactions">
      <small class= "total-transactions">
      <strong>Valor total de receita:</strong>
      R$
      <%= @operations.inject(0) do |sum, t| 
        if t.operation_type == 0
          sum += t.amount 
        elsif t.operation_type == 1
          sum -= t.amount 
        end
        sum
      end%> 
      </small>
    </div>
  <% end %>

  <div id="operations">
      <% if @operations.any? %>
        <div class= "group">
          <% @operations.each do |operation| %>
            <div style="margin-top: 15px">
              <%= render operation %> 
              <hr style="margin-top: 20px"class="solid">
            </div>
          <% end %>
        </div>
      <% else %>
        <h2 style="text-align: center; color: white; margin-top: 20px">Você não possui transações cadastradas</h2>
      <% end %>
  </div>
  <div class= "new-group">
    <%= link_to new_group_operation_path do%>
      <div class= "new-group-btn">
        Nova transação
        <%= image_tag "plus-small.png", class: "plus-icon" %>
      </div>
    <% end %>
  </div>
</div>
